include AUTHORS.rst
include CONTRIBUTING.rst
include CHANGELOG.rst
include LICENSE
include README.rst
include requirements.txt
recursive-exclude kolibri_instant_schools_plugin/* *pyc
recursive-include kolibri_instant_schools_plugin/static *.*
recursive-include kolibri_instant_schools_plugin/templates *.*
recursive-include kolibri_instant_schools_plugin/* *.js
recursive-include kolibri_instant_schools_plugin/ *.py
recursive-include kolibri_instant_schools_plugin/ *.vue

