body {
  padding-bottom: 16px;
  overflow: hidden;
  font-family: sans-serif;
  color: #3a3a3a;
  background-color: white;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.17em;
}

h3,
h4,
h5,
h6 {
  font-size: 1em;
}

.vodafone-logo {
  display: block;
  width: 100%;
  max-width: 300px;
  margin-top: 16px;
  margin-right: auto;
  margin-bottom: 16px;
  margin-left: auto;
}

.icon {
  display: inline;
  width: 2em;
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  padding: 8px;
  text-align: left;
  border: 1px solid #686868;
}
