<!DOCTYPE html>
<html lang="en">
  <head>
    <title>About</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./assets/normalize.min.css">
    <link rel="stylesheet" href="./assets/style.css">
  </head>
  <body>

    <img class="vodafone-logo" src="./assets/images/vodafone-logo.png">


    <!-- BEGIN CONTENT -->

    <p>
      Welcome to Instant Schools, a set of online educational resources for primary and secondary students and teachers. You can watch videos, work on exercises, access digital books, and interact with simulations. There are no data charges while accessing Instant Schools. You must remember to turn off WiFi to use Instant Schools at no cost.
    </p>

    <!-- END CONTENT -->


  </body>
</html>
