<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FAQ</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./assets/normalize.min.css">
    <link rel="stylesheet" href="./assets/style.css">
  </head>
  <body>


    <!-- BEGIN CONTENT -->

    <h1>FAQ</h1>

    <h2>What is Instant Schools?</h2>
    <p>
      A set of online educational resources for primary and secondary students and teachers. You can watch videos, work on exercises, access digital books, and interact with simulations. There are no data charges while accessing Instant Schools.
    </p>

    <h2>What education channels are available?</h2>
    <p>
      Available education channels for Learners and Teachers are displayed in Recommended and Topics tabs on the main Learn page. Current channels include:
    </p>

    <h3>Learner channels</h3>
    <ul>
      <li>
        <strong>Khan Academy</strong>: Primary and secondary maths, science, history and business
      </li>
      <li>
        <strong>CK-12</strong>: Maths and science content for secondary students and teachers
      </li>
      <li>
        <strong>PhET</strong>: Simulations for learning maths and science concepts suitable for individual learners and teachers
      <li>
        <strong>African Storybook</strong>: Early-level books written in various African languages
      </li>
      <li>
        <strong>Touchable Earth</strong>: Award winning app of short videos of 8-11 year old children from different cultures talking about the world.
      </li>
      <li>
        <strong>Sikana</strong>: Video lessons covering practical skills such as cooking and health
      </li>
      <li>
        <strong>Be Strong Online</strong>: Resources to help young people explore the digital world safely. Covers cyberbullying, social media, online privacy and selfies
      </li>
    </ul>

    <h3>Teacher channels</h3>
    <ul>
      <li>
        <strong>CK-12</strong>: Maths and science content for secondary students and teachers
      </li>
      <li>
        <strong>PhET</strong>: Simulations for learning maths and science concepts suitable for teachers and individual learners
      </li>
      <li>
        <strong>TESSA</strong>: Teacher resources including life skills, literacy and numeracy
      </li>
      <li>
        <strong>Be Strong Online</strong>: Resources for schools to help young people explore the digital world safely. Covers cyberbullying, social media, online privacy and selfies
      </li>
    </ul>

    <h2>What is the difference between recommended and topics?</h2>
    <p>
      You can start learning by clicking on content from 2 different pathways. The <strong>Recommended</strong> tab streams all content, the most popular content and, if you are a registered user, the content you are making progress on.  The <strong>Topics</strong> tab gives you the option of navigating through all channels and the topics and sub-topics within each channel.
    </p>

    <h2>How do I search for content?</h2>
    <p>
      Click the magnifying glass <img class="icon" src="./assets/images/search-icon.png"> in the upper right corner to search for a specific subject, topic or term. Type the word or combination of words you are looking for and press <strong>Enter</strong>. Search results are displayed below.
    </p>

    <h2>How do I earn points?</h2>
    <p>
      You earn points by learning! If you watch a video, answer and master exercises, interact with a simulation, read a book, you will get points.  You can see your point total as a part of your account at any time. You must be a registered Learner to earn points.
    </p>

    <h2>
      What do the icons mean?
    </h2>

    <table>
      <thead>
        <tr>
          <th>Icon</th>
          <th>Meaning</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <img class="icon" src="./assets/images/progress-icon.png">
          </td>
          <td>
            In progress - You are interacting with the content, but have not yet mastered it
          </td>
        </tr>
        <tr>
          <td>
            <img class="icon" src="./assets/images/mastered-icon.png">
          </td>
          <td>
            <strong>Mastery (Khan Academy channels)</strong> - Points earned! You have viewed the full length of a video or correctly answered 5x exercise questions in a row with no hints
          </td>
        </tr>
        <tr>
          <td>
            <img class="icon" src="./assets/images/mastered-icon.png">
          </td>
          <td>
            <strong>Completed (Other channels)</strong> - Points earned! You have interacted with content
          </td>
        </tr>
        <tr>
          <td>
            <img class="icon" src="./assets/images/exercise-icon.png">
          </td>
          <td><strong>Exercise</strong></td>
        </tr>
        <tr>
          <td>
            <img class="icon" src="./assets/images/channel-icon.png">
          </td>
          <td><strong>Content channel</strong></td>
        </tr>
        <tr>
          <td>
            <img class="icon" src="./assets/images/folder-icon.png">
          </td>
          <td><strong>Content channel folder</strong></td>
        </tr>
        <tr>
          <td>
            <img class="icon" src="./assets/images/html5-icon.png">
          </td>
          <td><strong>App: interactive exercise, flexbook</strong></td>
        </tr>
        <tr>
          <td>
            <img class="icon" src="./assets/images/video-icon.png">
          </td>
          <td><strong>Video</strong></td>
        </tr>
        <tr>
          <td>
            <img class="icon" src="./assets/images/document-icon.png">
          </td>
          <td><strong>PDF document</strong></td>
        </tr>
        <tr>
          <td>
            <img class="icon" src="./assets/images/audio-icon.png">
          </td>
          <td><strong>Audio</strong></td>
        </tr>
      </tbody>
    </table>


    <h2>What do I have to do to complete an exercise?</h2>
    <p>
      Completing an exercise is not compulsory. However, to achieve <strong>Mastery</strong> in Khan Academy exercises you need to correctly answer 5 exercise questions in a row with no hints. Mastery in other content channels may vary.
    </p>



    <h2>How do I get help in an exercise?</h2>
    <p>
      If you click the <strong>Get A Hint</strong> button, clues will be provided to help you correctly answer the question. If you choose to get a hint, you will still need to answer the question but it will not count towards your winning streak required for mastery in Khan Academy exercises.
    </p>

    <h2>Why should I register?</h2>
    <p>
      If you register, you will earn points!  You will be able to track your progress and can start where you left off during your previous session. To register you will need to provide your name, mobile number and password. More than one person can register per mobile number.
    </p>

    <h2>How can I track my progress?</h2>
    <p>
      You can track your progress if you register and create an Instant Schools account.
    </p>

    <h2>Will new content be added?</h2>
    <p>
      New content will be added to Instant Schools regularly so make sure you remember to check!
    </p>

    <h2>How do I change my password?</h2>
    <p>
      Click on the forgotten password button on the home screen. An SMS will be sent to you with a password reset verification link. If you click this you will be taken to a set new password page on Instant Schools.
    </p>

    <h2>How can providers who have educational content join the platform?</h2>
    <p>
      If you have open source educational content, that meets our technical and educational criteria, we are open to including your content on Instant Schools. Please contact <a href="email:info@learningequality.org">info@learningequality.org</a>. Note that there may be integration costs to do this.
    </p>

    <h2>Can I use the service if I am not a subscriber?</h2>
    <p>
      A version of Instant Schools that can be downloaded by schools and other organizations for offline use will be available in early 2018.
    </p>

    <h2>I still see Instant Schools using up my data! I thought there was no cost?</h2>
    <p>
      Remember that you need to turn off WiFi in order to use Instant Schools at zero cost.  Simply make sure you are connected to the mobile network.
    </p>


    <!-- END CONTENT -->


  </body>
</html>
